<!DOCTYPE html>
<html>
<head>
  <title>CSS GRID</title>
</head>
<body>
  <header>
  <div class="logo">
    <h1>CSS GRID</h1>
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="studentlist">Student List</a></li>
      <li><a routerLink="employeelist">Employee List</a></li>
      <li><a routerLink="fruitlist">Fruit List</a></li>
      <li><a routerLink="courselist">Course List</a></li>
      <li><a routerLink="booklist">Booklist</a></li>
    </ul>
  </nav>
</header>
</body>
<router-outlet></router-outlet>
</html>
